<section class="no-padding" id="clients">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
              <br>
              <h2 class="section-heading">Klienci</h2>
              <hr class="primary">
              <br>
          </div>
      </div>
  </div>

    <div class="container-fluid">
        <div class="row no-gutter">

<!-- budowa -->
          <div class="modal modal-fullscreen fade" id="client1" tabindex="-1" role="dialog" aria-labelledby="client1Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="client1Label">To miejsce czeka na Ciebie!</h4>
                </div>
                <div class="modal-body">
                    <p>Już niedługo wypełnimy tę sekcję po brzegi!</p>
                </div>
              </div>
            </div>
          </div>

<!-- budowa -->

            <div class="col-lg-12 col-sm-6">
                <a data-toggle="modal" href="#client1" class="portfolio-box" style="max-width:450px">
                    <img src="img/portfolio/budowa.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>To miejsce czeka na Ciebie!<h2/>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <br>
    <br>
</section>
