<section id="contact" style="background:#336699">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color:white">Chcesz wiedzieć więcej?</h2>
                <hr class="primary">
                <p style="color:white">Zapraszamy do kontaktu!</p>
            </div>
        </div>

        <div class="row">
        <div class="col-lg-4 col-lg-offset text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                <p style="color:white">{{ site.email }}</p>
            </a>
        </div>

        <div class="col-lg-4 col-lg-offset text-center">
                <a href="https://www.facebook.com/szkoleniaR/">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">Facebook</p>
                </a>
            </div>

        <div class="col-lg-4 col-lg-offset text-center">
            <a href="http://www.zstat.pl">
            <i class="fa fa-arrow-circle-right fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                <p style="color:white">zstat.pl</p>
            </a>
        </div>



      </div>

    </div>
    </div>

    <div class="container">
      <br>
      <br><br><br>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">

            <a style="color:white" href="http://www.erkakrakow.pl/">szkoleniaR.pl jest inicjatywą realizowaną przez firmę ZSTAT wraz z zespołem analityków związanych z projektem ERKA Kraków.</p>
              <a style="color:#003366" href="http://startbootstrap.com/template-overviews/creative/">Stworzono na podstawie Creative Theme (http://startbootstrap.com/template-overviews/creative/)</p>
        </div>
        </div>
    </div>
</section>
