<section class="no-padding" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Oferowane szkolenia</h2>
              <hr class="primary">
              <br>
          </div>
      </div>
  </div>

  <style>
  .domain::before {
    content: "\0040";    /* Unicode character for @ symbol */
  }
</style>

    <div class="container-fluid">
        <div class="row no-gutter">
<!-- portfolio -->

<!-- Basic szkolenia -->
          <div class="modal modal-fullscreen fade" id="szkoleniaBASIC" tabindex="-1" role="dialog" aria-labelledby="szkoleniaBASICLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="szkoleniaBASICLabel">Szkolenie BASIC</h4>
                </div>
                <div class="modal-body">

                  <h2 style="color: #483D8B;">Dla kogo jest to szkolenie?</h2>
                  <p>
                  	Szkolenie skierowane jest do osób:
                  	<br>
                  	- przetwarzających duże ilości danych, potrzebujących rozbudowanych i elastycznych narzędzi do ich modelowania i analizy,
                  	<br>
                  	- chcących zoptymalizować własną pracę przez automatyzację niektórych czynności,
                  	<br>
                  	- potrzebujących wizualizować dane, np. do raportów, prezentacji (R ma&nbsp;niemal nieograniczone możliwości graficzne).
                  </p>
                  <p>
                  </p>
                  <h2 style="color: #483D8B;">Jakie są wymagania wstępne?</h2>
                  <p>
                  	Szkolenie
                  	<strong>BASIC</strong> nie wymaga żadnego doświadczenia w programowaniu, jak i analizie danych. Potrzebna będzie jedynie podstawowa znajomość języka angielskiego (szkolenie jest w języku polskim, jednak sam R jest w języku angielskim). Przydatna będzie również minimalna wiedza z zakresu Excela lub dowolnego arkusza kalkulacyjnego - jednak będzie miała ona marginalne znaczenie. <strong>R jest językiem programowania - nie arkuszem!</strong>
                  </p>
                  <p>
                  </p>
                  <h2 style="color: #483D8B;">Organizacja szkolenia</h2>
                  <p>
                  	Szkolenie trwa dwa dni po 6&nbsp;godzin w każdym z nich. W trakcie zajęć przewidziane są trzy przerwy - dwie dziesięciominutowe i jedna czterdziestominutowa. Zajęcia odbywają się w formie warsztatów, w których po krótkim wstępie teoretycznym następują ćwiczenia praktyczne.
                  </p>
                  <h2>W razie pytań prosimy o kontakt:</h2>
                  <h3 style="color: rgb(25, 25, 112);">
                  kontakt<span class="domain">szkoleniaR.pl
                  </h3>
                  <p>
                  	<br>
                  </p>
                  <div id="szkolenie---poziom-basic" class="section level1">
                  	<div id="spotkanie-1" class="section level2">
                  		<h1 style="color: #483D8B;">Plan szkolenia</h1>
                  		<h2>Pierwszy dzień</h2>
                  	</div>
                  	<div id="czesc-1." class="section level2">
                  		<div id="wprowadzenie-do-r-i-rstudio." class="section level3">
                  			<h3>Wprowadzenie do R i Rstudio.</h3>
                  			<ul>
                  				<li>Wykorzystanie <strong>RStudio</strong> w pracy z R.
                  				<ul>
                  					<li>instalacja potrzebnych komponentów środowiska R (<strong>R, Rtools, RStudio</strong>).</li>
                  					<li>konfiguracja środowiska pracy.</li>
                  					<li>tworzenie projektów.</li>
                  				</ul>
                  				</li>
                  				<li>Pakiety w R.
                  				<ul>
                  					<li>instalacja pakietów z repozytorium CRAN.</li>
                  					<li>pakiet <strong><em data-redactor-tag="em">pacman</em></strong>.</li>
                  				</ul>
                  				</li>
                  				<li>Podstawowe struktury i typy danych.
                  				<ul>
                  					<li>wektory (<em>numeric, character, logical</em>).</li>
                  					<li>operacje na wektorach (np. działania arytmetyczne, wybieranie zakresu w oparciu o warunki logiczne).</li>
                  					<li>podstawowe funkcje statystyczne.</li>
                  				</ul>
                  				</li>
                  			</ul>
                  		</div>
                  	</div>
                  	<div id="czesc-2." class="section level2">
                  		<div id="bardziej-zozone-struktury." class="section level3">
                  			<h3>Bardziej złożone struktury.</h3>
                  			<ul>
                  				<li>Struktura data.frame
                  				<ul>
                  					<li>tworzenie data.frame.</li>
                  					<li>podstawowe sposoby <em>podglądania</em> danych w R.</li>
                  					<li>podstawowe operacje na data.frame (modyfikacja kolumn).</li>
                  				</ul>
                  				</li>
                  				<li>Wczytywanie danych z Excela do R
                  				<ul>
                  					<li>prezentacja jak wyglądają dane przyjazne R (tabela danych o prostej strukturze).</li>
                  				</ul>
                  				</li>
                  			</ul>
                  		</div>
                  		<div id="zozone-operacje-na-data.frame-pakiet-dplyr." class="section level3">
                  			<h3>Złożone operacje na data.frame (pakiet dplyr).</h3>
                  			<ul>
                  				<li>Grupowanie danych po kluczu.
                  				<ul>
                  					<li>operacje na pogrupowanych danych (funkcja summarise)</li>
                  				</ul>
                  				</li>
                  				<li>Operacje na kolumnach:
                  				<ul>
                  					<li>filtrowanie danych.</li>
                  					<li>transformacja kolumn.</li>
                  				</ul>
                  				</li>
                  			</ul>
                  		</div>
                  	</div>
                  	<div id="spotkanie-2." class="section level2">
                  		<h2>Drugi dzień</h2>
                  		<div id="czesc-1" class="section level3">
                  			<div id="podstawy-tworzenia-wykresow---pakiet-ggplot2." class="section level4">
                  				<h4>Podstawy tworzenia wykresów - pakiet ggplot2.</h4>
                  				<ul>
                  					<li>Podstawowe typy wykresów:
                  					<ul>
                  						<li>wykres punktowy</li>
                  						<li>wykres słupkowy</li>
                  						<li>inne wykresy.</li>
                  					</ul>
                  					</li>
                  					<li>Grupowanie danych na wykresie.
                  					<ul>
                  						<li>wykorzystanie kolorów i kształtów.</li>
                  						<li>dzielenie wykresu na pod wykresy.</li>
                  					</ul>
                  					</li>
                  					<li>Zapisywanie wykresu do pliku.</li>
                  					<li>Tworzenie interaktywnych wykresów.</li>
                  				</ul>
                  			</div>
                  		</div>
                  		<div id="czesc-2.-1" class="section level3">
                  			<div id="tworzenie-wasnych-funkcji-rozwijajacych-mozliwosci-r" class="section level4">
                  				<h4>Tworzenie własnych funkcji rozwijających możliwości R</h4>
                  				<ul>
                  					<li>Instrukcje warunkowe "if".</li>
                  					<li>Pętle "for".</li>
                  					<li>Tworzenie własnych funkcji.</li>
                  					<li>Tworzenie komunikatów o błędach.</li>
                  				</ul>
                  			</div>
                  			<div id="r-ogolnie." class="section level4">
                  				<h4>R ogólnie.</h4>
                  				<ul>
                  					<li>Dokumentacja w R.</li>
                  					<li>Efektywne szukanie pomocy (StackOverflow).</li>
                  					<li>Dobre praktyki tworzenia kodu w R.</li>
                  				</ul>
                  			</div>
                  		</div>
                  	</div>
                  </div>
                  <p>
                  	<br>
                  	<br>
                  </p>
                  <p>
                  	<br>
                  	<br>
                  </p>


                </div>
              </div>
            </div>
          </div>


            <div class="col-lg-4 col-sm-4">
                    <a data-toggle="modal" href="#szkoleniaBASIC" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>BASIC<h2/>
                            <div class="project-name">
                                Szkolenie wprowadzające do języka R dla osób nie mających doświadczenia w programowaniu.
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- <div class="col-lg-4 col-sm-4">
                <a href="files/BASIC.pdf" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>Open Source<h2/>
                            <div class="project-name">
                                W budowie
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-4">
                <a data-toggle="modal" href="#teaModal" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>Szkolenia dedykowane<h2/>
                            <div class="project-name">
                                Szkolenie skrojone do Twoich potrzeb.
                            </div>
                        </div>
                    </div>
                </a>
            </div>  -->

            <!-- Modal CUSTOM -->
            <div class="modal modal-fullscreen fade" id="teaModal" tabindex="-1" role="dialog" aria-labelledby="teaModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="teaModalLabel">CUSTOM</h2>
                  </div>
                  <div class="modal-body">
                    <h3>szkoleniaR.pl prowadzi również szkolenia dedykowane, specjalnie skrojone do Twoich potrzeb.
                      <br/><br/>
                      <h4>Przykładowe tematy:</h4>
                      <ul>
                       <li>Automatyzacja generowania raportów (PDF, LaTeX, MS Word i PowerPoint).</li><br/>
                       <li>Tworzenie aplikacji internetowych z Shiny R.</li><br/>
                       <li>Pozyskiwanie informacji ze stron internetowych (Web scraping).</li><br/>
                       <li>Uczenie maszynowe w R.</li><br/>
                       <li>Prognozowanie szeregów czasowych.</li><br/>
                     </ul>

                    </h3>
                    <br/>

                    <center>
                      <p>Zapraszamy do kontaktu!</p>
                            <p style="color:white"><h2>kontakt<span class="domain">szkoleniaR.pl</h2></span></p>
                        </a>
                    </center>
                    <br/>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-4">
                <a data-toggle="modal" href="#teaModal" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>Szkolenia dedykowane<h2/>
                            <div class="project-name">
                                Szkolenie skrojone do Twoich potrzeb.
                            </div>
                        </div>
                    </div>
                </a>
            </div>




            <!-- Modal New -->
            <div class="modal modal-fullscreen fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="newModalLabel">Już wkrótce nowa oferta!</h2>
                  </div>
                  <div class="modal-body">
                    <center>
                    <h3>Cały czas pracujemy nad rozszerzeniem naszej oferty. Bieżące informacje można znaleźć na naszym profilu na Facebooku:
                    </h3>
                  </center>

                        <div class="text-center">
                            <div class="service-box">
                              <a href="https://www.facebook.com/szkoleniaR/">
                                <i class="fa fa-4x fa-facebook"></i>
                                <h3>szkoleniaR.pl</h3>
                                <p class="text-muted"></p>
                              </a>
                            </div>
                        </div>
                    <br/>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-lg-4 col-sm-4">
                <a data-toggle="modal" href="#newModal" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <h2>Już wkrótce nowa oferta!<h2/>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
      </div>
    <br>
    <br>
</section>
