<section class="bg-primary" id="whoami" style="background:#336699">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Kim jesteśmy?</h2>
              <hr class="primary">

          </div>
      </div>
  </div>

    <div class="container">

          <!--zz-->
          <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>Zygmunt Zawadzki - swoją przygodę ze statystyką i R rozpoczął ponad pięc lat temu, biorąc udział w tworzeniu pakietu R o nazwie DepthProc do obliczeń statystycznych funkcji głębi. Następnie spędził cztery lata pracując w branży finansowej, by w końcu założyć firmę ZSTAT zajmującą się doradztwem statystycznyn. szkoleniaR.pl jest jedną z inicjatyw współtworzoną przez ZSTAT.</h4>
            </div>
              <br>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.linkedin.com/in/zygmunt-zawadzki-81525b92">
                <i class="fa fa-linkedin fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">LinkedIn</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">GitHub</p>
                </a>
            </div>
          </div>

          <!--bs-->
          <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>Bartosz Sękiewicz - z wykształcenia matematyk. Swoją przygodę z programowaniem rozpoczął od VBA, budując modele farmakoekonomiczne w firmie HTA Consulting, osiągając poziom VBA guru. Aktualnie zajmuje się m. in. budowaniem narzędzi wspierających prace analityków (z wykorzystaniem Excela, VBA i R). W ostatnim czasie spory nacisk kładzie na możliwości pozyskiwania, obróbki i analizy danych z internetu (web scraping).</h4>
            </div>
              <br>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.linkedin.com/in/bsekiewicz">
                <i class="fa fa-linkedin fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">LinkedIn</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/bsekiewicz">
                <i class="fa fa-github fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">GitHub</p>
                </a>
            </div>
          </div>

          <!--bs-->
          <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>Adam Wróbel - od trzech lat zawodowo związany z modelowaniem w branży finansowej. Obecnie pracuje dla UBS w zespole walidacji modeli ryzyka kredytowego. Przez prawie cały wspomniany okres głównym narzędziem jego pracy był R. Prowadził wewnętrzne szkolenia z R i miał swoje prezentacje zarówno w ramach krakowskiej (eRka) i warszawskiej (SER) społeczności R. Zafascynowany danymi, modelami i data science.</h4>
            </div>
              <br>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://pl.linkedin.com/in/wrobeladam1">
                <i class="fa fa-linkedin fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">LinkedIn</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/AdamWrobel">
                <i class="fa fa-github fa-5x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <p style="color:white">GitHub</p>
                </a>
            </div>
          </div>



    </div>
</section>
